*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    &::-webkit-scrollbar-track
{

	background-color: #000000;
}

&::-webkit-scrollbar
{
	width: 10px;
	background-color: #a89696;
}

&::-webkit-scrollbar-thumb
{
	background-color: #6ca7b9;
}

a{
    color: black;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
}
