#sideBarCont {
  height: 100vh;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  width: fit-content;
  display: flex;
  align-items: center;
  border-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  div {
    padding: 1rem 6.4rem;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        color: rgb(214, 212, 212);
        font-size: 1.2rem;
        margin-top: 2rem;
        cursor: pointer;
        hr {
          width: 30%;
        }

        &:hover {
          color: white;

          hr {
            width: 100%;
          }
        }

        a {
          color: white;
          text-decoration: none;
 
          &:hover {
            text-decoration: none;
          }
        }
      }
      hr {
        margin-top: 0.4rem;
      }
    }
  }
}
